#body {
    margin-left: 5%;
    margin-top: 3%;

}

.eright {
    text-align: left;
    padding: 10px;
}
.eleft {
    margin: 1px;
    padding: 20px;
    text-align: right; /* Align text to the left */
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Vertically align to the top */
    justify-content: center;
}

.left {
    flex: 1; /* Take up 1/2 of the available space */
    padding: 20px;
    text-align: left; /* Align text to the left */
}

.separator {
    width: 2px; /* Width of the vertical line */
    background-color: #FF431B;
    height: 100%; /* Height of the container */
}

.right {
    flex: 1; /* Take up 1/2 of the available space */
    padding: 20px;
    text-align: left;
}

/* Style for the cool-looking list items */
.cool-li {
 /* Text color for list items */
    padding: 5px 10px; /* Add padding for spacing */
    margin: 5px 0; /* Add margin for spacing between list items */
    border-radius: 5px; /* Rounded corners for list items */
}

img {
    width: 200px; /* Ensure the image fits within its container */
}

#exp {
    margin-left: 20px;
}
#technical-skills {
    margin-top: 20px;
    text-align: left; /* Align text to the left */
    width: 100%; /* Make the section take up the full width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

#technical-skills h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Center the heading text */
    margin-bottom: 10px; /* Add space below the heading */
}

#technical-skills ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Align list items to the left */
}

#technical-skills ul li {
    margin-bottom: 10px;
}

#technical-skills strong {
    font-weight: bold;
    margin-right: 5px;
}

#technical-skills i {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
}

/* Add the Font Awesome styles */
/* You need to include the Font Awesome CSS in your HTML */
