.contact-info h3 {
    font-size: 18px; /* Heading font size */
    color: #FF431B; /* Heading text color */
    margin-bottom: 10px; /* Spacing below the heading */
}

.contact-info p {
    margin: 5px 0; /* Spacing between contact info items */
}

.contact-info strong {
    font-weight: bold; /* Make the "strong" elements bold */
}

.contact-info a {
    color: #FF431B; /* Link color */
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.2s; /* Smooth color transition on hover */
}

.contact-info a:hover {
    color: #000E54; /* Change link color on hover */
}
