#projects {
    padding: 20px;
}

.project {
    border: 1px solid #FF431B;;
    padding: 20px;
    margin: 25px;
    color: #FF431B;
    text-align: left;
}

.project h3 {
    font-size: 18px;
    color: #FF431B;
    margin-bottom: 10px;
}

.project p, .project a {
    color: #FF431B;
}

.project ul {
    list-style: none;
    padding-left: 30px;
}

.project li::before {
    content: '⚙️';
    color: #FF431B;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
}


#main {
    margin-left: 5%;
    width: 90%;
    max-width: 1200px;
    margin-right: 5%;
}

/* Additional styles from previous CSS */
.projects-section h2 {
    padding-bottom: 5px;
}

.tech-stack {
    font-style: italic;
    color: #666;
    text-align: right;
}

.project ul li {
    margin-bottom: 5px;
}
